<?xml version="1.0"?>
<launch>

    <arg name="gazebo_world" default="robotnik_lab.world" />
    <arg name="gazebo_gui"   default="true"               />	

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"    value="$(arg gazebo_world)" /> 
        <arg name="debug"         value="false"               />
        <arg name="paused"        value="false"               />
        <arg name="use_sim_time"  value="true"                />
        <arg name="headless"      value="false"               /> 
        <arg name="gui"           value="$(arg gazebo_gui)"   /> 
    </include>

</launch>
